<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048121539997-7esl4qr2r3dodopdu9pthgadsl5k2t76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048121539997-7esl4qr2r3dodopdu9pthgadsl5k2t76</string>
	<key>API_KEY</key>
	<string>AIzaSyC3VdH5hWiAROD7q2a3BN9k1xaufBWujD0</string>
	<key>GCM_SENDER_ID</key>
	<string>1048121539997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-c7ea5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-c7ea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048121539997:ios:acf148f3291511a7210374</string>
	<key>DATABASE_URL</key>
	<string>https://fir-c7ea5.firebaseio.com</string>
</dict>
</plist>