<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142261836956-ou1m4n893dg6v5hjgie8maiimbl837us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142261836956-ou1m4n893dg6v5hjgie8maiimbl837us</string>
	<key>API_KEY</key>
	<string>AIzaSyBGBi0SqkhTKRkn09jdv8c0612R1NIgsJU</string>
	<key>GCM_SENDER_ID</key>
	<string>142261836956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.please</string>
	<key>PROJECT_ID</key>
	<string>please-81a13</string>
	<key>STORAGE_BUCKET</key>
	<string>please-81a13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142261836956:ios:6640ef604181e9fdb3e159</string>
	<key>DATABASE_URL</key>
	<string>https://please-81a13.firebaseio.com</string>
</dict>
</plist>